<div class="container">
    <div class="page-header">
        <h1>Transitions</h1>
    </div>

    <p class="lead">
        TBD: Short Description
    </p>
</div>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Handlers</h2>
                <p>TBD:</p>
                <p></p>

            </div>
            <div class="col-md-4">
                <h2>Registration</h2>
                <p>TBD:</p>
                <p></p>
            </div>
            <div class="col-md-4">
                <h2>Modes</h2>
                <p>TBD:</p>
                <p></p>
            </div>
        </div>
    </div>
</div>

<div class="banding light">
    <div class="container">
        <h1>Configuration</h1>
        <div class="row">
            <div class="col-md-4">
                <h3><code>TBD:</code></h3>

            </div>
            <div class="col-md-8">
                <div dx-sample tags="angularjs; angular-routing;">
                    <div dx-sample-file src="samples/concepts/transitions/demo.js"></div>
                    <div dx-sample-file src="samples/concepts/transitions/index.html"></div>
                    <div dx-sample-file src="samples/concepts/transitions/style.css"></div>
                </div>
            </div>
        </div>
    </div>
</div>