<div class="container">
    <div class="page-header">
        <h1>Controllers</h1>
    </div>

    <p class="lead">
        TBD:
    </p>

    <div dx-sample tags="angularjs; angular-routing" scrollable="true">
        <div dx-sample-file src="samples/tutorials/step1/final/index.html"></div>
        <div dx-sample-file src="samples/tutorials/step1/final/home.html"></div>
        <div dx-sample-file src="samples/tutorials/step1/final/contact.html"></div>
        <div dx-sample-file src="samples/tutorials/step1/final/about.html"></div>
        <div dx-sample-file src="samples/tutorials/step1/final/application.js"></div>
        <div dx-sample-file src="samples/tutorials/step1/final/style.css"></div>
    </div>
</div>