<!DOCTYPE html>
<html ng-app="sample">
<head>
    <title>Sub States Sample</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../metro.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../metro.bootstrap.overwrites.css" />
    <link rel="stylesheet" type="text/css" href="../animations.css" />
    
    <script src="../../lib/jquery/impl/jquery-1.9.1.min.js"></script>

    <script src="../../lib/angular/impl/angular.js"></script>
    <script src="../../lib/angular/impl/angular-bootstrap.js"></script>
    <script src="../../lib/angular/impl/angular-bootstrap-prettify.js"></script>
    <script src="../../lib/ui-bootstrap/impl/ui-bootstrap-tpls-0.2.0.min.js"></script>
    <script src="../../build/angular-routing.js"></script>
    <script src="../../lib/angular-tree/impl/angular-tree.js"></script>

    <script src="script/data.js"></script>
    <script src="script/application.js"></script>
    <script src="script/blogService.js"></script>
    <script src="script/contentDirective.js"></script>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="../index.html">Angular Routing Samples</a>
                <ul class="nav">
                    <li ng-class="page == 'home' && 'active' || ''"><a href="#/">Home</a></li>
                    <li ng-class="page == 'blog' && 'active' || ''"><a href="#/blog">Blog</a></li>
                    <li ng-class="page == 'about' && 'active' || ''"><a href="#/about">About</a></li>
                </ul>
                <p class="navbar-text pull-right" ui-view="crumbs"></p>
            </div>
        </div>
    </div>
    
    <div class="container" style="margin-top: 60px;" >
        <!--<div ui-view="main" ng-animate="'wave'"></div>-->
        <div ui-view="main" ng-animate="{enter: 'wave-enter', leave: 'wave-leave'}"></div>
    </div>

    <hr />

    <div ng-controller="PageController">
        <button class="btn" ng-click="openRoutes()">Show Routes</button>
        <button class="btn" ng-click="openStates()">Show States</button>
        <button class="btn" ng-click="openTransitions()">Show Transitions</button>

        <div modal="showRoutes" close="close()" options="opts">
            <div class="modal-header">
                <h2>Routes</h2>
            </div>
            <div class="modal-body">
                <pre>{{routes}}</pre>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning cancel" ng-click="close()">Close</button>
            </div>
        </div>

        <div modal="showStates" close="close()" options="opts">
            <div class="modal-header">
                <h2>States</h2>
            </div>
            <div class="modal-body">
                <pre>{{statesStr}}</pre>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning cancel" ng-click="close()">Close</button>
            </div>
        </div>

        <div modal="showTransitions" close="close()" options="opts">
            <div class="modal-header">
                <h2>Transitions</h2>
            </div>
            <div class="modal-body">
                <pre>{{transitions}}</pre>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning cancel" ng-click="close()">Close</button>
            </div>
        </div>
    </div>

</body>
</html>
